<header>
  <div class="container"> </div>
    <a href="#" class="logo">Mappings Application</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list">list</a></li>
        <li><a href="#" routerLink="/approval">approval</a></li>
        <li><a href="#" routerLink="/worksheet">Month Work Upload</a></li>
        <li><a href="#" routerLink="/rate-worksheet">Rates Upload</a></li>
      </ul>
    </nav>
</header>

<!-- <div class="container" >
  <app-mapping-list></app-mapping-list>
</div> -->

<!--<div class="container" >
  <app-approval></app-approval>
</div> -->

<div class="container">
  <router-outlet></router-outlet>
</div>